* {
   box-sizing: border-box;
   letter-spacing: 0.11em;
   line-height: 18px;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 1em);
   font-family: Ubuntu Condensed, Calibri, sans-serif;
   font-size: 16px;
   background: linear-gradient(180deg, rgba(250, 255, 0, 0.18) 0%, rgba(255, 77, 0, 0.29) 100%), #FFFFFF;
}

main {
   padding: 1em;
   background: white;
   box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
   border-radius: 30px 0px;
   width: 725px;
   height: 245px;
   position: relative;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: scale(0.9, 0.9);
   }
   100% {
      opacity: 1;
      transform: scale(1, 1);
   }
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: calc(30 / 16 * 1em);
}

.handle {
   background: linear-gradient(90deg, rgba(250, 255, 0, 0.18) 0%, rgba(255, 77, 0, 0.29) 100%);
   box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.1);
   border-radius: 16px 0px;
   height: 1.5em;
   width: calc(100% - 17em);
}

.logo {
   font-family: Sansation, Calibri Bold, Arial, sans-serif;
   font-size: 1.5em;
   letter-spacing: 0.11em;
   margin-right: 1.25em;
}

.logo__x {
   background: -webkit-linear-gradient(rgba(255, 77, 0, 1), rgba(255, 255, 255, 0)), black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo__subtitle {
   color: rgba(0,0,0,0.5);
}

input {
   background: none;
   outline: none;
   border: 1px solid #e5e5e5;
   font: inherit;
   width: 100%;
   display: block;
   height: calc(40 / 16 * 1em);
   padding: 0.75em;
}
input::placeholder {
   color: #e5e5e5;
}
input:focus {
   border: 1px solid black;
}

input:first-child {
   margin-bottom: 10px;
}

button {
   background: linear-gradient(yellow, transparent);
   border: none;
   outline: none;
   font: inherit;
   height: calc(25 / 16 * 1em);
   cursor: pointer;
   display: block;
   width: 7em;
   font-size: 0.8em;
}

button > div {
   transform: translateY(-0.6em);
   transition: 0.2s ease;
}
button:hover > div {
   transform: translateY(-0.2em);
}

.button_buy {
   background: linear-gradient(180deg, rgba(255, 184, 0, 0.29) 0%, rgba(255, 184, 0, 0) 100%);
}
.button_select {
   background: linear-gradient(180deg, rgba(250, 255, 0, 0.18) 0%, rgba(250, 255, 0, 0) 100%);
}
.button_selected {
   background: linear-gradient(transparent, white), linear-gradient(197.02deg, rgba(255, 77, 0, 0.29) 11.66%, rgba(255, 77, 0, 0) 88.28%), linear-gradient(109.95deg, rgba(250, 255, 0, 0.18) 35.19%, rgba(250, 255, 0, 0) 63.32%);
}

#buttonBack {
   position: absolute;
   left: 50%;
   transform: translate(-50%, -100%);
   top: calc(-20 / 16 * 1em);
}

.row {
   display: flex;
}
.dn {
   display: none;
}

/* STOP: Slider */
:root {
   --cell-size: calc(107 / 16 * 1em);
}

.slider {
   user-select: none;
}

.slider__title {
   text-align: center;
}

.slider__middle {
   display: flex;
   align-items: center;
}

.slider__carousel {
   overflow: hidden;
   width: calc(var(--cell-size));
   height: var(--cell-size);
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
   border-radius: calc(10 / 16 * 1em);
   margin: 0.25em 0.75em 0.75em 0.75em;
   position: relative;
}

.slider__arrow {
   cursor: pointer;
}
.slider__arrow:hover {
   animation: arrow-fly-left-right 1s infinite;
   transition: 0.25s ease;
}
@keyframes arrow-fly-left-right {
   0% {
      transform: translateX(0em);
   }
   25% {
      transform: translateX(-0.1em);
   }
   50% {
      transform: translateX(0);
   }
   75% {
      transform: translateX(0.1em);
   }
   100% {
      transform: translateX(0);
   }
}

.slider__content {
   display: flex;
   width: fit-content;
   position: absolute;
   transition: 0.5s ease;
}

.slider__cell {
   width: var(--cell-size);
   height: var(--cell-size);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.slider__cell svg {
   
}

.slider__cell-price {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0.1rem;
   font-size: 0.8em;
}

.slider__footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


/* STOP: fitting */
.fitting {
   display: flex;
   flex-direction: column;
   margin-left: calc(52/16*1em);
}
.fitting__title {
   text-align: center;
   margin-bottom: 0.25em;
}
.fitting__field {
   width: calc(258 / 16 * 1em);
   height: calc(107 / 16 * 1em);
   border-radius: calc(10 / 16 * 1em) 0px;
   overflow: hidden;
}
.fitting__field .row {
   width: calc((73 + 2) * 5 / 16 * 1em);
}
.fitting__field-wrapper {
   margin-left: calc((75 - 18) / 16 * 1em * -1);
   margin-top: calc((75 - 16) / 16 * 1em * -1);
}
.fitting__cell {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: calc(73/16*1em);
   height: calc(73/16*1em);
   margin-right: calc(2 / 16 * 1em);
   margin-bottom: calc(2 / 16 * 1em);
   background-position: center;
   background-repeat: no-repeat;
}
.fitting__figure {
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
}
.fitting__amount {
   background: linear-gradient(transparent, white), linear-gradient(197.02deg, rgba(255, 77, 0, 0.29) 11.66%, rgba(255, 77, 0, 0) 88.28%), linear-gradient(109.95deg, rgba(250, 255, 0, 0.18) 35.19%, rgba(250, 255, 0, 0) 63.32%);
   border-radius: 10px 0px;
   text-align: center;
   width: 100%;
   margin-top: 0.75rem;
}
.fitting__amount span {

}